#envelope {
	position: relative;
	width: 50rem;
	height: 30rem;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	margin-left: auto;
	margin-right: auto;
	top: 15rem;
	background-color: #00334c;
	box-shadow: 0 4px 20px rgba(0, 0, 0, .2);
	transition: all 0.3s;
	transform: rotate(-10deg);

}
.front {
	position: absolute;
	width: 0rem;
	height: 0rem;
	z-index: 5;
}
.flap {
	border-left: 25rem solid transparent;
	border-right: 25rem solid transparent;
	border-bottom: 100rem solid transparent;
/* a little smaller */
	border-top: 15rem solid #00334c;
/* a little larger */
	transform-origin: top;
	pointer-events: none;
}
.pocket {
	border-left: 25rem solid #0077b2;
	border-right: 25rem solid #0077b2;
	border-bottom: 15rem solid #006da3;
	border-top: 15rem solid transparent;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.letter {
	position: relative;
	background-color: #fff;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 90%;
	top: 5%;
	box-shadow: 0 2px 26px rgba(0, 0, 0, .12);
	perspective: 100rem;
}


.words {
	position: absolute;
	left: 10%;
	width: 80%;
	height: 14%;
	background-color: #eeeff0;
}
.words.line1 {
	top: 15%;
	width: 20%;
	height: 7%;
}
.words.line2 {
	top: 30%;
}
.words.line3 {
	top: 50%;
}
.words.line4 {
	top: 70%;
}
.open .flap {
	transform: rotateX(180deg); 
	transition: transform 0.4s .2s ease, z-index 0.6s;
	z-index: 1;
}
.close .flap {
	transform: rotateX(0deg);
	transition: transform 0.4s 3s ease, z-index 1s;
	animation: closeFlap 3.3s forwards; 
}
.close .letter {
	animation: putIn 2s 1s ease-in backwards;
	z-index: 1;
}
.open .letter {
	animation: takeOut 2s 3s ease-out forwards; 
}
.letter2, .letterBack { 
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	backface-visibility: hidden;
}

.letterBack { 
	transform: rotateX(180deg);
}
.open .container { 
	position: absolute;
	background-color: rgb(255, 255, 255);
	animation: flipLetter 1s 4s;
	transform-origin: bottom;
	animation-fill-mode: both;
	perspective: 10rem;
	width: 100%;
	height: 100%;
	top: 0;
	transform-style: preserve-3d;
}

.close .container { 
	content: ''; 
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute; 
	transform-origin: bottom;
	background-color: white;
	animation: unflip 1s;
	animation-fill-mode: both;
	transform-style: preserve-3d;
}

.hearts {
	position: absolute;
	top: 15rem;
	left: 0;
	right: 0;
	z-index: 1;
}
.heart {
	position: absolute;
	bottom: 0;
	right: 10%;
	pointer-events: none;
}
.heart:before, .heart:after {
	position: absolute;
	content: "";
	left: 50px;
	top: 0;
	width: 50px;
	height: 80px;
	background: #d00000;
	border-radius: 50px 50px 0 0;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
	pointer-events: none;
}
.heart:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}
.close .heart {
	opacity: 0;
	animation: none;
}
.open .a1 {
	left: 20%;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 1;
	-webkit-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
	-moz-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
	animation-fill-mode: forwards;
	animation-delay: 0.7s;
}

.a1, .a2, .a3 { 
	left: 10%; 
}
.open .a2 {
	left: 55%;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	-webkit-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
	-moz-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
	animation-fill-mode: forwards;
	animation-delay: 0.7s;
}
.open .a3 {
	left: 10%;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 1;
	-webkit-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
	-moz-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
	animation-fill-mode: forwards;
	animation-delay: 0.7s;
}

body {
	background-color: #ffffff;
}
.envlope-wrapper {
	height: 380px;

}

#envelope:hover { 
	scale: 1.05;
	transition: all 0.3s;
}

@-webkit-keyframes slideUp {
	0% {
		top: 0;
	}
	100% {
		top: -600px;
	}
}
@keyframes slideUp {
	0% {
		top: 0;
	}
	100% {
		top: -50rem;
	}
}
@-webkit-keyframes sideSway {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: 50px;
	}
}

@keyframes sideSway {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: 50px;
	}
}

@keyframes takeOut { 
	0% { 
		transform: translateY(0) rotate(0);
		z-index: 2;
	}


	30% { 
		transform: translateY(-35rem) rotate(10deg);
	}

	50% { 
		transform: translateY(0);
		transform: rotate(10deg);

	}

	70% { 
		z-index: 6;
		transform: rotate(10deg);

	}

	100% { 
		z-index: 6; 
		top: -10rem;
		transform: rotate(10deg);
	}
}

@keyframes putIn {
	0% { 
		transform: translateY(-10rem) rotate(10deg);
		z-index: 6;
	}
	30% { 
		z-index: 6;
	}
	50% { 
		transform: translateY(-35rem);
		z-index: 6;
	}

	70% { 

		z-index: 3; 
	}

	95% { 
		z-index: 1;
	}

	100% { 
		transform: translateY(0rem);
		z-index: 1;
	}
}

@keyframes closeFlap { 
	0% { 
		z-index: 1;
	}

	90% { 
		z-index: 1;
	}

	100% { 
		z-index: 2;
	}
}

@keyframes flipLetter {
	0% { 
		transform: rotateX(0);
	}
	100% { 
		transform: rotateX(-180deg);
		top: 0rem;
		bottom: 0rem;
		left: 0;
		right: 0;
	}
}

@keyframes unflip {
	0% { 
		position: absolute;
		transform: rotateX(-180deg);
		top: 0rem;
		bottom: 0rem;
		left: 0rem;
		right: 0;
	}

	50% { 
		top: 0;
		left: 0;
		bottom: 0; 
		right: 0;
	}

	100% { 
		top: 0;
		left: 0;
		bottom: 0; 
		right: 0;
	}
}

/*letter - 1
flap - 2
pocket - 3
*/


/*login style*/

@font-face {
	font-family: 'Inter';
	src: url(InterVariable.ttf);
}
@font-face { 
	font-family: 'TiktokSans';
	src: url(TiktokSans.ttf);
}
html { 
	height: 100%;
	width: 100%;
}
.bodyLogin { 
	font-family: 'Inter';
	background-image: url(YSsUpP.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 99%;
	width: 99%;
}


.loginContainer { 
	position: relative;
	height: 18rem;
	width: 30rem;
	border-radius: 20px;
	background-color: white;
	box-shadow: rgba(14, 3, 3, 0.2) 0px 8px 24px;
	border: 2px solid rgba(255, 255, 255, 0.5); 
	padding-left: 2rem;
	padding-right: 2rem;
}

.loginContainer p { 
	color: #F875AA;
	font-weight: 600;
	font-size: 2rem;
	display: flex;
	justify-content: center;
}

.anniv { 
	background-color: transparent;
	outline: none;
	border: none;
	font-family: 'Inter';
	height: 3rem;
	border-bottom: 2px solid #E83C91;
	font-size: 1rem;
	color: #E83C91;
	position: absolute; 
	bottom: 7.6rem;
	right: 2rem;
	left: 2rem;
	z-index: 9;
}

button { 
	font-size: 1rem;
	font-family: 'Inter';
	background-color: #FF8FB7;
	outline: none;
	border: none; 
	border-radius: 10px;
	color: white;
	font-weight: bold;
	position: absolute;
	height: 3rem;
	bottom: 2rem;
	right: 1rem;
	left: 1rem;
	transition: .3s ease;
}


.anniv:focus ~ label, .anniv:valid~label{ 
	transform: translateY(-1.6rem);
	
}

label { 
	position: absolute;
	top: 8rem;
	color: #E83C91;
	transition: .5s ease;
}

button:hover { 
	background-color: #E83C91;
}

.wrong { 
	display: none;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	bottom: 5rem; 
	color: #F875AA;
	font-weight: bold;
}


/*main site*/

@font-face {
	font-family: 'HappyEnding';
	src: url(MyHappyEndingRegular-Lx7G.ttf);
}
body { 
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-image: url(Firefly_Gemini\ Flash_light\ pink\ wallpaper\ minimalist\ with\ a\ few\ tiny\ darker\ pink\ hearts\ on\ the\ corners.\ yo\ 167469.png);
	background-position: center;
}
.greetCard { 
	transition: ease;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 0, 43);
	z-index: 99999;
	display: none;
	justify-content: center;
	align-items: center;
	position: relative;
}

.greetCard > div { 
	font-size: 8rem;
	font-family: 'HappyEnding';
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
}

.main-content { 
	display: none;
}

.one { 
	opacity: 1;
	animation: fade 5s 1s ease both;
}

.two { 
	opacity: 1; 
	animation: fade 5s 6s ease both;
}

.three { 
	opacity: 1; 
	animation: fade 5s 11s ease both;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.four { 
	opacity: 1;
	animation: fade 5s 16s ease both;
}

.fade-out { 
	opacity: 1; 
	animation: fadeOut 3s forwards; 
}
@keyframes fade {
	0%, 100% { 
		opacity: 0;
		display: none;
	}

	50% { 
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% { 
		opacity: 1;
	}

	100% { 
		opacity: 0;
	}
}

.main-content { 
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-left: 20rem;
	padding-right: 20rem;
	scroll-behavior: smooth;
}
.label { 
	margin-top: 5rem;
	font-family: 'HappyEnding';
	font-weight: bold;
	font-size: 7rem;
	color: #EE6983;
}

.this-my-gf { 
	width: 100%;
	height: 30rem;
	margin-top: 8rem;
	display: flex;
	padding-left: 10rem;
	padding-right: 10rem;
	align-items: center;
}

.my-gf { 
	height: 100%;
}

.gf-container { 
	height: 100%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 23.7rem;
	border-radius: 10px;
	padding: .7rem;
	box-shadow: rgba(14, 3, 3, 0.2) 0px 8px 24px;

}

.gf-description	{
	position: relative;
	background-color: white;
	height: 100%;
	width: 100%;
	margin-left: 8rem;
	border-radius: 10px;
	box-shadow: -7px 0px 0px 0px #EE6983;
}

.title-gf { 
	font-family: "HappyEnding";
	position: absolute;
	top: -3rem;
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 3rem;
	color: #EE6983;
}

.reasons { 
	background-color: white;
	height: 30rem;
	width: 100%;
	margin-top: 13rem;
	box-shadow: 0px -7px 0px 0px #EE6983, 0px 7px 0px 0px #EE6983;
	border-radius: 10px;
	position: relative;
}

.reasons-title { 
	font-family: "Happyending";
	position: absolute;
	top: -4rem;
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 3rem;
	color: #EE6983;
}

.us { 
	height: 30rem;
	width: 70rem;
	margin-top: 13rem;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content:space-around;
	position: relative;
	
}

.us-image { 
	height: 25rem;
	width: 25rem;
	background-color: white;
	border-radius: 200px;
	box-shadow: rgba(14, 3, 3, 0.2) 0px 8px 24px;
}

.us-title { 
	font-family: "HappyEnding";
	font-size: 3rem;
	position: absolute;
	top: -2rem;
	color: #EE6983;
}

.label2 { 
	font-family: "HappyEnding";
	font-size: 2rem;
	position: relative;
	top: -1rem;
	color: #EE6983;
}

.music { 
	display: flex;
	height: 30rem;
	width: 100%;
	margin-top: 13rem;
	align-items: center;

}

.music-description { 
	width: 100%;
	background-color: white;
	border-radius: 10px;
	margin-right: 3rem;
	height: 80%;
	box-shadow: 7px 0px 0px 0px #EE6983;
}

.music-disk { 
	scale: .9;
}

