#envelope {
	position: relative;
	width: 50rem;
	height: 30rem;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	margin-left: auto;
	margin-right: auto;
	top: 15rem;
	background-color: #00334c;
	box-shadow: 0 4px 20px rgba(0, 0, 0, .2);
	transition: all 0.3s;
	transform: rotate(-10deg);

}
.front {
	position: absolute;
	width: 0rem;
	height: 0rem;
	z-index: 5;
}
.flap {
	border-left: 25rem solid transparent;
	border-right: 25rem solid transparent;
	border-bottom: 100rem solid transparent;
/* a little smaller */
	border-top: 15rem solid #00334c;
/* a little larger */
	transform-origin: top;
	pointer-events: none;
}
.pocket {
	border-left: 25rem solid #0077b2;
	border-right: 25rem solid #0077b2;
	border-bottom: 15rem solid #006da3;
	border-top: 15rem solid transparent;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.letter {
	position: relative;
	background-color: #fff;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 90%;
	top: 5%;
	box-shadow: 0 2px 26px rgba(0, 0, 0, .12);
	perspective: 100rem;
}


.words {
	position: absolute;
	left: 10%;
	width: 80%;
	height: 14%;
	background-color: #eeeff0;
}
.words.line1 {
	top: 15%;
	width: 20%;
	height: 7%;
}
.words.line2 {
	top: 30%;
}
.words.line3 {
	top: 50%;
}
.words.line4 {
	top: 70%;
}
.open .flap {
	transform: rotateX(180deg); 
	transition: transform 0.4s .2s ease, z-index 0.6s;
	z-index: 1;
}
.close .flap {
	transform: rotateX(0deg);
	transition: transform 0.4s 3s ease, z-index 1s;
	animation: closeFlap 3.3s forwards; 
}
.close .letter {
	animation: putIn 2s 1s ease-in backwards;
	z-index: 1;
}
.open .letter {
	animation: takeOut 2s 3s ease-out forwards; 
}
.letter2, .letterBack { 
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	backface-visibility: hidden;
}

.letterBack { 
	transform: rotateX(180deg);
}
.open .container { 
	position: absolute;
	background-color: rgb(255, 255, 255);
	animation: flipLetter 1s 4s;
	transform-origin: bottom;
	animation-fill-mode: both;
	perspective: 10rem;
	width: 100%;
	height: 100%;
	top: 0;
	transform-style: preserve-3d;
}

.close .container { 
	content: ''; 
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute; 
	transform-origin: bottom;
	background-color: white;
	animation: unflip 1s;
	animation-fill-mode: both;
	transform-style: preserve-3d;
}

.hearts {
	position: absolute;
	top: 15rem;
	left: 0;
	right: 0;
	z-index: 1;
}
.heart {
	position: absolute;
	bottom: 0;
	right: 10%;
	pointer-events: none;
}
.heart:before, .heart:after {
	position: absolute;
	content: "";
	left: 50px;
	top: 0;
	width: 50px;
	height: 80px;
	background: #d00000;
	border-radius: 50px 50px 0 0;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
	pointer-events: none;
}
.heart:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}
.close .heart {
	opacity: 0;
	animation: none;
}
.open .a1 {
	left: 20%;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 1;
	-webkit-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
	-moz-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
	animation-fill-mode: forwards;
	animation-delay: 0.7s;
}

.a1, .a2, .a3 { 
	left: 10%; 
}
.open .a2 {
	left: 55%;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	-webkit-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
	-moz-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
	animation-fill-mode: forwards;
	animation-delay: 0.7s;
}
.open .a3 {
	left: 10%;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 1;
	-webkit-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
	-moz-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
	animation-fill-mode: forwards;
	animation-delay: 0.7s;
}

body {
	background-color: #ffffff;
}
.envlope-wrapper {
	height: 380px;

}

#envelope:hover { 
	scale: 1.05;
	transition: all 0.3s;
}

@-webkit-keyframes slideUp {
	0% {
		top: 0;
	}
	100% {
		top: -600px;
	}
}
@keyframes slideUp {
	0% {
		top: 0;
	}
	100% {
		top: -50rem;
	}
}
@-webkit-keyframes sideSway {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: 50px;
	}
}

@keyframes sideSway {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: 50px;
	}
}

@keyframes takeOut { 
	0% { 
		transform: translateY(0) rotate(0);
		z-index: 2;
	}


	30% { 
		transform: translateY(-35rem) rotate(10deg);
	}

	50% { 
		transform: translateY(0);
		transform: rotate(10deg);

	}

	70% { 
		z-index: 6;
		transform: rotate(10deg);

	}

	100% { 
		z-index: 6; 
		top: -10rem;
		transform: rotate(10deg);
	}
}

@keyframes putIn {
	0% { 
		transform: translateY(-10rem) rotate(10deg);
		z-index: 6;
	}
	30% { 
		z-index: 6;
	}
	50% { 
		transform: translateY(-35rem);
		z-index: 6;
	}

	70% { 

		z-index: 3; 
	}

	95% { 
		z-index: 1;
	}

	100% { 
		transform: translateY(0rem);
		z-index: 1;
	}
}

@keyframes closeFlap { 
	0% { 
		z-index: 1;
	}

	90% { 
		z-index: 1;
	}

	100% { 
		z-index: 2;
	}
}

@keyframes flipLetter {
	0% { 
		transform: rotateX(0);
	}
	100% { 
		transform: rotateX(-180deg);
		top: 0rem;
		bottom: 0rem;
		left: 0;
		right: 0;
	}
}

@keyframes unflip {
	0% { 
		position: absolute;
		transform: rotateX(-180deg);
		top: 0rem;
		bottom: 0rem;
		left: 0rem;
		right: 0;
	}

	50% { 
		top: 0;
		left: 0;
		bottom: 0; 
		right: 0;
	}

	100% { 
		top: 0;
		left: 0;
		bottom: 0; 
		right: 0;
	}
}

/*letter - 1
flap - 2
pocket - 3
*/


/*login style*/

@font-face {
	font-family: 'Inter';
	src: url(InterVariable.ttf);
}
@font-face { 
	font-family: 'TiktokSans';
	src: url(TiktokSans.ttf);
}
html { 
	height: 100%;
	width: 100%;
}
.bodyLogin { 
	font-family: 'Inter';
	background-image: url(loginBackground.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 99%;
	width: 99%;
}


.loginContainer { 
	position: relative;
	height: 20rem;
	width: 30rem;
	border-radius: 10px;
	backdrop-filter: blur(30px);
	box-shadow: rgba(14, 3, 3, 0.2) 0px 8px 24px;
	border: 2px solid rgba(255, 255, 255, 0.5); 
	padding-left: 2rem;
	padding-right: 2rem;
}

.loginContainer p { 
	color: #edf2f4;
	font-weight: 600;
	font-size: 2rem;
	display: flex;
	justify-content: center;
}

.anniv { 
	background-color: transparent;
	outline: none;
	border: none;
	font-family: 'Inter';
	width: 100%;
	height: 3em;
	border-bottom: 2px solid #2b2d42;
	font-size: 1rem;
	color: white;
	position: relative; 
	top: 1.1rem;
}

.anniv::placeholder { 
	color: #2b2d42;
}

button { 
	font-size: 1rem;
	font-family: 'Inter';
	background-color: #2b2d42;
	outline: none;
	border: none; 
	border-radius: 5px;
	color: white;
	font-weight: bold;
	position: absolute;
	height: 3rem;
	bottom: 3rem;
	right: 1rem;
	left: 1rem;
	transition: .3s ease;
}


.anniv:focus ~ label, .anniv:valid~label{ 
	transform: translateY(-1.3rem);
	
}

label { 
	position: absolute;
	top: 8rem;
	color: #2b2d42;
	transition: .5s ease;
}

button:hover { 
	background-color: rgb(53, 59, 107);
}

.wrong { 
	display: none;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	bottom: 7em; 
	color: #ef233c;
	font-weight: bold;
}